@charset "UTF-8";

body {
    background-color: gray;
}
header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: -30px;
    background-color: rgb(0, 255, 0);
    color: blue;
    text-align: center;
    padding: 3em;
    margin-right: 650px;

}

main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: yellow;
    font-size: 100px;
    text-align: center;
    padding: 110px;
    margin-right: 850px;

}
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: red;
    text-align: center;
    font-size: 100px;
    padding: 110px;
    margin-right: 750px;
}