@charset "UTF-8";
body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    
    text-align: center;
    color: rgb(2, 32, 32);
}

h1#principal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color:rgb(114, 123, 120) ;
}

h2 {
    text-align: center;
    color: rgb(22, 106, 106);
}
.basico {
    color: rgb(109, 100, 89);

}
.intermediario {
color: rgb(233, 49, 49);
}


.avancado {
    color: rgb(55, 0, 255);
}
